<div class="wrapper__page">
  <form action="/admin/articles/" method="POST" class="wrapper__redactor-form">
    <input type="text" name="name" placeholder="Назва статті:" class="wrapper__redactor-form-authors-input" required>
    <input type="text" name="theme" placeholder="Тема статті:" class="wrapper__redactor-form-authors-input" required>
    <input type="text" name="authors" placeholder="Автори:" class="wrapper__redactor-form-authors-input" required>
    <textarea id="textarea" name="content"></textarea>
    <button name="submitbtn" type="submit">Зберегти</button>
  </form>
</div>

