<form action="/admin/articles/" method="POST" class="wrapper__redactor-form">
    <textarea id="textarea" name="content">Hello, World!</textarea>
    <button name="submitbtn" type="submit">Зберегти</button>
</form>

