<form class="auth__form" id="chat-signup-form">
    <h3 class="auth__form-logo">Реєстрація</h3>
    <input type="text" placeholder="Ім'я користувача" id="chat-signup-username">
    <input type="password" placeholder="Пароль" id="chat-signup-password">
    <button type="submit">Створити аккаунт</button>
</form>
<p class="auth__form-description">Вже є аккаунт ?</p>
<a href="/chat/auth" class="auth__form-link-signup">Авторизуватися</a>
