<div class="wrapper__menu-admin">
    <a href="/admin/products/upload-product">
        <button class="wrapper__menu-admin-item">
            <span>Завантажити товар</span>
        </button>
    </a>
    <a href="/admin/orders">
        <button class="wrapper__menu-admin-item">
            <span>Замовлення</span>
        </button>
    </a>
    <a href="/admin/products/">
        <button class="wrapper__menu-admin-item">
            <span>Весь товар</span>
        </button>
    </a>
    <a href="/admin/articles">
        <button class="wrapper__menu-admin-item">
            <span>Статті</span>
        </button>
    </a>
    <a href="/admin/video-photo-gallery">
      <button class="wrapper__menu-admin-item">
        <span>Відео, фото галерея</span>
      </button>
    </a>
    <a href="/admin/support">
        <button class="wrapper__menu-admin-item">
            <span>Підтримка</span>
        </button>
    </a>
    <a href="/admin/statistics">
        <button class="wrapper__menu-admin-item">
            <span>Сатистика</span>
        </button>
    </a>
    <a href="/admin/settings">
      <button class="wrapper__menu-admin-item">
        <span>Налаштування</span>
      </button>
    </a>
</div>
