.arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.wrapper__product {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.wrapper__product-images {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 400px;
}

.wrapper__product-images img {
    position: absolute;
    left: -100%;
    transform: translateX(-50%);
    max-width: 300px;
    height: 100%;
}

.wrapper__product-content {
    position: relative;
    width: 40%;
    margin-top: 30px;
    padding: 5px;
}

.wrapper__product-content-item {
    margin-top: 20px;
}

.wrapper__product-add-to-basket-btn {
    border: none;
    max-width: 500px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #69B904FF;
    color: #fff;
    margin-top: 166px;
}

.wrapper__product-description {
    margin-top: 20px;
    overflow-wrap: break-word;
}

.wrapper__sub-images {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 45%;
}

.wrapper__sub-images img {
    width: 50px;
    height: 50px;
}

.wrapper__sub-images-item {
    border: 1px solid #000;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.wrapper__sub-images-item:hover {
    background-color: #F5F5F5;
}

@media screen and (max-width: 900px) {
    .wrapper__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wrapper__product-images {
        height: 400px;
    }
    .wrapper__sub-images {
        margin: 0 auto;
    }
    .wrapper__product-description {
        width: 100%;
    }
    .wrapper__product-images {
        width: 100%;
    }
    .wrapper__product-content {
        width: 100%;
    }
    .wrapper__product-add-to-basket-btn {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
    .wrapper__product-content-item {
        text-align: center;
    }
    .wrapper__product-images img {
        width: 75%;
    }
}

@media screen and (max-width: 560px) {
    .wrapper__product-images {
        height: 300px;
    }
    .wrapper__product-content-item {
        font-size: 18px;
    }
    .wrapper__sub-images img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 400px) {
    .wrapper__product-images {
        height: 250px;
    }
}


