.wrapper__settings {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1000px;
    width: 100%;
}

.wrapper__settings-logo {
    text-align: center;
}

.sub-wrapper__settings {
    margin-top: 100px;
}
