<form class="auth__form" action="/admin/auth" method="POST">
    <h2>Авторизація</h2>
    <input type="text" placeholder="Name:" name="name">
    <input type="password" placeholder="Password:" name="password">
    <button>Увійти</button>
</form>
