.lds-ring {
    /* change color here */
    color: #fff
}
.lds-ring,
.lds-ring div {
    box-sizing: border-box;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 4px;
    border: 4px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#load-more-publications-btn {
    background-color: #69B904FF;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 50px;
    cursor: pointer;
    color: #fff;
}

.wrapper__publications {
    margin-top: 100px;
}

.wrapper__publications {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    grid-gap: 40px;
}

.wrapper__publications a {
    text-decoration: none;
    color: #000;
}

.wrapper__publications-item {
    padding-top: 20px;
    cursor: pointer;
}

.wrapper__publications-item h2 {
    text-align: center;
    padding-top: 10px;
}

.wrapper__publications-sub-item {
    display: block;
    margin: 0 auto;
    width: min-content;
}

.wrapper__publications-item video {
    max-width: 300px;
    height: 300px;
}

.wrapper__publications-item img {
    max-width: 250px;
    height: 250px;
}

.wrapper__publications-item:hover {
    background-color: #eeeeee;
}
