#show-description-btn {
    cursor: pointer;
    background-color: #f8b71d;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#item-description {
    display: none;
    padding: 10px;
}

.wrapper__publication-item {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #F4F4F4;
    padding: 30px;
    border-radius: 5px;
}

.wrapper__publication-item h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper__publication-item img {
    display: none;
}

.wrapper__publication-item img:nth-child(1) {
    display: block;
}

.wrapper__arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.wrapper__arrows button {
    width: 20%;
    cursor: pointer;
}

.slider-item {
    max-width: 800px;
    width: 100%;
}

