<div class="wrapper__partner-info">
  <h2 class="mt-50">Ім'я партнера: {{name}}</h2>
  <div class="wrapper__partner-info-buttons">
    <button class="wrapper__partners-info-buttons-item">Замовлення</button>
    <button class="wrapper__partners-info-buttons-item">Товари</button>
    <a href="/admin/partners/info-page/{{id}}/settings">
      <button class="wrapper__partners-info-buttons-item">Налаштування</button>
    </a>
  </div>
</div>
