<h2 class="partner-settings-logo" id="{{id}}">Ім'я партнера: <span>{{name}}</span></h2>

<div class="wrapper__partner-settings">
  <div class="wrapper__partner-settings-name">
    <input type="text" placeholder="Ім'я партнера" value="{{name}}" id="partner-name-input">
    <button id="save-new-partner-name">Зберегти нове ім'я</button>
  </div>
  <button class="wrapper__partner-settings-generate-new-password-btn" id="generate-new-password-btn">Згенерувати новий пароль</button>
</div>
