<div class="wrapper__page">
  <div class="wrapper__partner-info">
    <h2 class="mt-50">Ім'я партнера: {{name}}</h2>
    <div class="wrapper__partner-info-buttons">
      <a href="/admin/partners/info-page/{{id}}/orders">
        <button class="wrapper__partners-info-buttons-item">Замовлення</button>
      </a>
      <a href="/admin/partners/info-page/{{id}}/settings">
        <button class="wrapper__partners-info-buttons-item">Налаштування</button>
      </a>
    </div>
  </div>
</div>
