<div class="wrapper__selected">
  <div class="wrapper__selected-images">

  </div>
  <div class="wrapper__selected-btn">
    <button class="wrapper__selected-left">&#8592;</button>
    <button class="wrapper__selected-right">&#8594;</button>
  </div>
</div>

<form class="upload__product-form">
  <input type="file" multiple name="files" id="files__input">
  <input type="text" placeholder="Назва публікації:" name="name" required>
  <input type="text" placeholder="Тема:" name="theme" required>
  <input type="text" placeholder="Опис:" name="description" required>
  <button type="submit">Опублікувати</button>
</form>
