@import "/css/components/buttons/load-more-btn.css";

.wrapper__rubrics-btn {
    border: none;
    border-left: 1px solid #0474b6;
    border-bottom: 1px solid #0474b6;
    border-right: 1px solid #0474b6;
    cursor: pointer;
    background-color: transparent;
    color: #0474b6;
}

.wrapper__rubrics-btn-active {
    border: none;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    cursor: pointer;
    background-color: transparent;
    color: #000;
}

.wrapper__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 309px));
    padding-top: 50px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
}

.wrapper__products-item {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5F5F5;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrapper__products-item:hover {
    background-color: #E6E6E6;
}

.wrapper__products-item-content img {
    width: 85%;
    height: 280px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.wrapper__products-item-content-name {
    margin-top: 20px;
    text-align: center;
}

.wrapper__products-item-content-price {
    margin-top: 20px;
    text-align: center;
}


.wrapper__products-item-link {
    text-decoration: none;
    color: #000;
}

.wrapper__product-add-to-basket-btn {
    border: none;
    max-width: 500px;
    height: 50px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    background-color: #69B904FF;
    color: #fff;
}

.wrapper__filters {
    margin-top: 20px;
    display: none;
}

.wrapper__filters-form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.wrapper__filters-price-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.wrapper__filters-price-inputs input {
    margin-top: 5px;
}

.wrapper__filters-form-submit {
    margin-top: 30px;
    border: none;
    background-color: #f8b71d;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper__filters-price-span {
    margin-top: 20px;
}

.show-filters-btn {
    display: block;
    border: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    color: #000;
}

.no-products-filters {
    width: max-content;
}

.move-up-button {
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 45px;
    height: 30px;
    border: none;
    background-color: #f8b71d;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: .3s;
}

.wrapper__search-form {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.wrapper__search input {
    width: 80%;
}

.wrapper__search button {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 15%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 760px) {
    .wrapper__search {
        width: 100%;
    }
    .wrapper__search button {
        font-size: 14px;
    }
    .wrapper__search input {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper__rubrics-btn {
        font-size: 14px;
    }
    .wrapper__rubrics-btn-active {
        font-size: 14px;
    }
    .wrapper__search input {
        width: 60%;
    }
    .wrapper__search button {
        width: 35%;
    }
}


