#load-more-products-btn {
    background-color: #69B904FF;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 50px;
    cursor: pointer;
    color: #fff;
}

#filters__form {
    display: flex;
    flex-direction: column;
}

.wrapper__products {
    display: flex;
    flex-direction: column;
}

.wrapper__products-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    margin-top: 50px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}

.wrapper__products-item-edit-btn {
    padding: 10px;
    border: none;
    background-color: #f8b71d;
    cursor: pointer;
    border-radius: 5px;
}

.wrapper__products-item-image {
    width: 60px;
    height: 60px;
}

.count-products-item {
    margin-top: 50px;
}

.wrapper__filters {
    display: flex;
    flex-direction: column;
}

.wrapper__filters h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper__filters select {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.wrapper__filters-price-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.wrapper__filters-price-inputs input {
    margin-top: 5px;
}

.filters__form-submit-btn {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.no_products-found-logo {
    margin-top: 20px;
}


