@import "/css/components/buttons/load-more-btn.css";

#filters__form {
    display: flex;
    flex-direction: column;
}

.wrapper__products {
    display: flex;
    flex-direction: column;
}

.wrapper__products-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    margin-top: 50px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}

.wrapper__products-item-edit-btn {
    padding: 10px;
    border: none;
    background-color: #f8b71d;
    cursor: pointer;
    border-radius: 5px;
}

.wrapper__products-item-image {
    width: 60px;
    height: 60px;
}

.count-products-item {
    margin-top: 50px;
}

.wrapper__filters {
    display: flex;
    flex-direction: column;
}

.wrapper__filters h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper__filters select {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.wrapper__filters-price-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.wrapper__filters-price-inputs input {
    margin-top: 5px;
}

.filters__form-submit-btn {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: #f8b71d;
    color: #000;
    border: none;
    border-radius: 5px;
}

.no_products-found-logo {
    margin-top: 20px;
}

.add-product-link {
    display: block;
    margin: 0 auto;
    width: max-content;
}

.add-product-btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f8b71d;
    border: none;
    color: #000;
}

.wrapper__filters-form-search {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

.wrapper__filters-form-search input {
    width: 77%;
}

.wrapper__filters-form-search button {
    width: 20%;
    cursor: pointer;
    background-color: #f8b71d;
    border: none;
    color: #000;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    .wrapper__filters-form-search button {
        font-size: 14px;
        width: 30%;
    }
    .wrapper__filters-form-search input {
        width: 65%;
    }
}


