.wrapper__products {
    display: flex;
    flex-direction: column;
}

.wrapper__products-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    margin-top: 50px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}

.wrapper__products-item-edit-btn {
    padding: 10px;
    border: none;
    background-color: #f8b71d;
    cursor: pointer;
    border-radius: 5px;
}

.wrapper__products-item-image {
    width: 60px;
    height: 60px;
}

.count-products-item {
    margin-top: 50px;
}

