.upload__product-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.upload__product-form input {
    border: none;
    border-bottom: 1px solid #000;
    margin-top: 30px;
    outline: none;
}

.upload__product-form select {
    margin-top: 30px;
}

.upload__product-form button {
    border: none;
    margin-top: 30px;
    cursor: pointer;
    height: 50px;
    background-color: #f8b71d;
}

.wrapper__message-form {
    display: none;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.back-button {
    background-color: #f8b71d;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 60px;
    padding: 5px;
    cursor: pointer;
}

.wrapper__selected-images {
    display: block;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.wrapper__selected-images img {
    width: 100%;
    height: 100%;
}

.wrapper__selected-images video {
    width: 500px;
    height: 500px;
}

.wrapper__selected {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.wrapper__selected-left {
    display: none;
    cursor: pointer;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper__selected-right {
    display: none;
    cursor: pointer;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper__selected-btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
