.wrapper__statistics {
    margin-top: 100px;
}

.wrapper__date {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.count-visits-logo {

}

.dates-logo {
    text-align: center;
}
