<div class="wrapper__orders">
    <h2 class="wrapper__orders-logo">Замовлення</h2>
    {{#if orders}}
        {{#each orders}}
            <div class="wrapper__orders-item">
                <div class="wrapper__orders-item-complete">
                    {{#if this.complete}}
                        <span style="color: #69B904FF;">Виконано</span>
                    {{else}}
                        <span>Не виконано</span>
                    {{/if}}
                </div>
                <div class="wrapper__orders-item-date">{{this.created_at}}</div>
                <a href="/admin/orders/{{this.id_order}}">
                    <button class="wrapper__orders-item-more">Детальніше</button>
                </a>
            </div>
        {{/each}}
        <button class="load-more-orders-btn">Завантажити ще замовлення</button>
    {{else}}
        <h2>Немає замовлень</h2>
    {{/if}}
</div>
