<form action="" class="auth__form" id="chat-auth-form">
    <h3 class="auth__form-logo">Авторизація</h3>
    <input type="text" placeholder="Ім'я користувача:"  id="chat-auth-username">
    <input type="password" placeholder="Пароль:" id="chat-auth-password">
    <button type="submit">Увійти</button>
</form>
<p class="auth__form-description">Щоб зв'язатися зі службою підтримки вам треба авторизуватися</p>
<a href="/support/signup" class="auth__form-link-signup">Створити аккаунт</a>


