<div class="wrapper__settings">
  <h2 class="wrapper__settings-logo">Налаштування:</h2>

  <div class="sub-wrapper__settings">
    <input type="checkbox" id="activate-notification">
    <label for="activate-notification">Активувати сповіщення</label>
  </div>
</div>
