@media screen and (max-width: 1200px) {
    .wrapper__products-item img {
        width: 200px;
        height: 200px;
    }
    .wrapper__products-item {
        flex-direction: column;
    }
    .wrapper__products-item-edit-btn {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .wrapper__products-item a {
        width: 100%;
        text-decoration: none;
    }
    .wrapper__products-item-name {
        margin-top: 20px;
    }
    .wrapper__products-item-type {
        margin-top: 20px;
    }
    .wrapper__products-item-price {
        margin-top: 20px;
    }
    .wrapper__orders-item {
        display: flex;
        flex-direction: column;
    }
    .wrapper__orders-item a {
        width: 100%;
        text-decoration: none;
    }
    .wrapper__orders-item a button {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .wrapper__orders-item-date {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 950px) {
    .wrapper__question-modal {
        width: 80% !important;
    }
}

@media screen and (max-width: 750px) {
    .wrapper__question-modal {
        font-size: 16px !important;
    }
    .wrapper__question-modal-btn {
        flex-direction: column;
    }
    .wrapper__question-modal-btn button {
        margin-top: 40px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .wrapper__question-modal-content {
        overflow-wrap: break-word !important;
        padding: 0 !important;
        font-size: 16px !important;
    }
}

@media screen and (max-width: 650px) {
    .wrapper__cookie-info {
        font-size: 14px;
    }
}

@media screen and (max-width: 420px) {
    .wrapper__cookie-info {
        font-size: 12px;
    }
}
