@media screen and (max-width: 1200px) {
    .wrapper__products-item img {
        width: 200px;
        height: 200px;
    }
    .wrapper__products-item {
        flex-direction: column;
    }
    .wrapper__products-item-edit-btn {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .wrapper__products-item a {
        width: 100%;
        text-decoration: none;
    }
    .wrapper__products-item-name {
        margin-top: 20px;
    }
    .wrapper__products-item-type {
        margin-top: 20px;
    }
    .wrapper__products-item-price {
        margin-top: 20px;
    }
    .wrapper__orders-item {
        display: flex;
        flex-direction: column;
    }
    .wrapper__orders-item a {
        width: 100%;
        text-decoration: none;
    }
    .wrapper__orders-item a button {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .wrapper__orders-item-date {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 650px) {
    .wrapper__cookie-info {
        font-size: 14px;
    }
}

@media screen and (max-width: 420px) {
    .wrapper__cookie-info {
        font-size: 12px;
    }
}
