<div class="wrapper__statistics">
    <div class="wrapper__date">
        <div>
            <label for="date-from-input">Від:</label>
            <input type="date" id="date-from-input">
            <h4 class="count-visits-logo">Кількість візитів</h4>
        </div>
        <div>
            <label for="date-to-input">До:</label>
            <input type="date" id="date-to-input">
        </div>
    </div>
    <svg width="1533" height="730" id="svg">
        <rect x="10" y="10" width="1333" height="700" fill="#010042"/>
        <line x1="60" x2="60" y1="30" y2="660" stroke="white" stroke-width="3"/>
        <line x1="60" x2="1300" y1="660" y2="660" stroke="white" stroke-width="3"/>
    </svg>
    <h4 class="dates-logo" >Дати</h4>
</div>
